#root {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 1rem;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #1f2a38;
    box-shadow: inset 0 0 5px #3974c5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #293a52;
    border-radius: 2rem;
}

::-webkit-scrollbar-thumb:hover {
    background: #314c70;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: 5px 5px 5px #487ac0;
}
